.narbar{
    
        background-color: rgb(85, 212, 221);
        position: fixed;
        top:0px;
        width: 100%;
        height: 52px;
        z-index: 2;
        
      
}
.narbar_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    a{
       img{
        width: 120px;
       }

    }
    .ulcenter {
        display: flex;
        margin-bottom: 0px;
        li{ :hover {
                  color: rgb(48, 106, 163);
                  transition: 0,01s;
        }
            list-style: none;
            a{
                color: rgb(255, 255, 255);
                font-family: 'Open Sans';
                font-size: 18px;
            }
            padding-left: 15px;
        }
        
    }
    .ulright{
        margin-bottom: 0px;
        display: flex;
        li{ 
            :hover {
            color: rgb(180, 179, 77);
            transition: 0,01s;
        }
            list-style-type: none;
            padding-left: 15px;
            a{
                color: white;
                font-family: 'Open Sans';
                font-size: 18px;
            }
        }
    }

}