.select{
    text-align: center;
    margin: 30px 0px;
    border-radius: 10px;
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    select{
        margin: 30px 50px;
        border: none;
        font-family: 'Open Sans';
        font-size: 23px;
        color: rgb(160, 119, 66);
    }
}